a {
    color: black;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: darkblue;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

h1 {
    margin: 0;
    font-size: 225%;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #EEE;
    height: 100%;
    margin: 0;
    padding: 0;
}

current {
    color: #FF6600;
}

current:hover {
    color: #FF9600;
}

.wrapper {
    margin: auto;
    max-width: 45em;
    background-color: #FFFFFF;
    height: auto;
    min-height: 100%;
}

.content {
    margin: auto;
    max-width: 30em;
    background-color: #FFFFFF;
    height: auto;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    position: relative;
} 

.title {
    text-align: center;
    font-size: 175%;
}

.list-item-centering-container {
    display: inline-block;
    text-align: center;
}

.list-item-container{
    display: inline-block;
    margin: auto;
    background-color: blue;
    text-align: left;
}

.list-item {
    display: inline-block;
    outline: 2px solid #DDD;
    padding: 0.5em;
    width: 100%;
    max-width: 12em;
    height: 20em;
    overflow: hidden;
}

.list-item-title {
    float: left;
    margin: 0.25em;
    text-align: center;
    width: 100%;
    font-size: 110%;
}

.list-item-content {
    float: left;
    margin: 0.25em;
    text-align: justify;
}

.preview {
    float: left;
    width: 100%;
}

.image-preview {
    display: block;
    margin: 0 auto;
    width: initial;
    max-width: 100%;
}
