a {
    color: black;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #00D;
}

a:visited {
    color: #00D;
}

a:hover {
    color: #00D;
}

a:active {
    color: #00D;
}

h1 {
    margin: 0;
    font-size: 225%;
}

.header-link {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #FFF;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    margin: auto;
    max-width: 70em;
    background-color: #FFFFFF;
    height: auto;
    min-height: 100%;
}

.content {
    margin: auto;
    max-width: 30em;
    background-color: #FFFFFF;
    height: auto;
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
} 

.project-page-title {
    text-align: center;
    font-size: 175%;
}

#project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 18em;
    height: 24em;
    padding: 0.5em;
    margin: 1em;
    float: left;
    border: 2px solid #FFF;
}

.project:hover {
    border: 2px solid #DDD;
    cursor: pointer;
}

.project-thumbnail {
    width: 100%;
}

.project-title {
    font-size: 1.75em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.project-blurb {
    text-align: center;
}

#project-page-content {
    max-width: 40em;
    background-color: green;
    margin-left: 5em;
    margin-right: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; 
}

#project-page-title {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

#project-page-slideshow {
    width: 100%;
    height: 20em;
    background-color: red;
    display: flex;
    justify-content: center;
}

.project-page-slideshow-button {
    width: 1em;
    height: 5em;
    line-height: 5em;
    background-color: lightblue;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
}

#project-page-media-container {
    width: 20em;
    height: 20em;
    background-color: grey;
    float: left;
}

#project-page-selectors {
    width: 100%;
    height: auto;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.project-page-selector {
    display: block;
    float: left;
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    background-color: orange;
    border-radius: 50%;
}

#project-page-text {
    width: 30em;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    background-color: yellow;
}