a {
    color: black;
    color: inherit;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #555555;
}

a:active {
    color: #555555;
}

h1 {
    margin: 0;
    font-size: 225%;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #DADADA;
    height: 100%;
    margin: 0;
    padding: 0;
}

current {
    color: #FF6600;
}

current:hover {
    color: #FF9600;
}

.wrapper {
    margin: auto;
    max-width: 45em;
    background-color: #FFFFFF;
    height: auto;
    min-height: 100%;
}

.content {
    margin: auto;
    max-width: 30em;
    background-color: #FFFFFF;
    height: auto;
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
} 

.title {
    text-align: center;
    font-size: 175%;